{% extends "base.html" %}
{% block title %}{{ t("resume_page_title") }}{% endblock %}

{% block content %}
<div class="cv">
  <h1>{{ t("resume_title") }}</h1>

  <section>
    <h2>{{ t("resume_name") }}</h2>
    <p><strong>{{ t("resume_role") }}</strong></p>
  </section>

  <section>
    <p>{{ t("resume_p1") }}</p>
    <p>{{ t("resume_p2") }}</p>
    <p>{{ t("resume_p3") }}</p>
  </section>

  <section>
    <h2>{{ t("resume_skills_title") }}</h2>
    <ul>
      <li>{{ t("resume_skill_1") }}</li>
      <li>{{ t("resume_skill_2") }}</li>
      <li>{{ t("resume_skill_3") }}</li>
      <li>{{ t("resume_skill_4") }}</li>
      <li>{{ t("resume_skill_5") }}</li>
      <li>{{ t("resume_skill_6") }}</li>
      <li>{{ t("resume_skill_7") }}</li>
      <li>{{ t("resume_skill_8") }}</li>
      <li>{{ t("resume_skill_9") }}</li>
      <li>{{ t("resume_skill_10") }}</li>
    </ul>
  </section>

  <section>
    <h2>{{ t("resume_work_title") }}</h2>

    <h3>{{ t("job1_title") }}</h3>
    <p><em>{{ t("job1_company") }}</em><br>{{ t("job1_dates") }}</p>
    <ul>
      <li>{{ t("job1_b1") }}</li>
      <li>{{ t("job1_b2") }}</li>
      <li>{{ t("job1_b3") }}</li>
      <li>{{ t("job1_b4") }}</li>
    </ul>

    <h3>{{ t("job2_title") }}</h3>
    <p><em>{{ t("job2_company") }}</em><br>{{ t("job2_dates") }}</p>
    <ul>
      <li>{{ t("job2_b1") }}</li>
      <li>{{ t("job2_b2") }}</li>
      <li>{{ t("job2_b3") }}</li>
    </ul>

    <h3>{{ t("job3_title") }}</h3>
    <p><em>{{ t("job3_company") }}</em><br>{{ t("job3_dates") }}</p>
    <ul>
      <li>{{ t("job3_b1") }}</li>
      <li>{{ t("job3_b2") }}</li>
      <li>{{ t("job3_b3") }}</li>
    </ul>

    <h3>{{ t("job4_title") }}</h3>
    <p><em>{{ t("job4_company") }}</em><br>{{ t("job4_dates") }}</p>
    <ul>
      <li>{{ t("job4_b1") }}</li>
      <li>{{ t("job4_b2") }}</li>
      <li>{{ t("job4_b3") }}</li>
      <li>{{ t("job4_b4") }}</li>
    </ul>

    <h3>{{ t("job5_title") }}</h3>
    <p><em>{{ t("job5_company") }}</em><br>{{ t("job5_dates") }}</p>
    <ul>
      <li>{{ t("job5_b1") }}</li>
      <li>{{ t("job5_b2") }}</li>
      <li>{{ t("job5_b3") }}</li>
      <li>{{ t("job5_b4") }}</li>
    </ul>

    <h3>{{ t("job6_title") }}</h3>
    <p><em>{{ t("job6_company") }}</em><br>{{ t("job6_dates") }}</p>
    <ul>
      <li>{{ t("job6_b1") }}</li>
      <li>{{ t("job6_b2") }}</li>
      <li>{{ t("job6_b3") }}</li>
    </ul>

    <h3>{{ t("job7_title") }}</h3>
    <p><em>{{ t("job7_company") }}</em><br>{{ t("job7_dates") }}</p>
    <ul>
      <li>{{ t("job7_b1") }}</li>
      <li>{{ t("job7_b2") }}</li>
      <li>{{ t("job7_b3") }}</li>
    </ul>

    <h3>{{ t("job8_title") }}</h3>
    <p><em>{{ t("job8_company") }}</em><br>{{ t("job8_dates") }}</p>
    <ul>
      <li>{{ t("job8_b1") }}</li>
      <li>{{ t("job8_b2") }}</li>
      <li>{{ t("job8_b3") }}</li>
    </ul>

    <h3>{{ t("job9_title") }}</h3>
    <p><em>{{ t("job9_company") }}</em><br>{{ t("job9_dates") }}</p>
    <ul>
      <li>{{ t("job9_b1") }}</li>
      <li>{{ t("job9_b2") }}</li>
      <li>{{ t("job9_b3") }}</li>
    </ul>
  </section>

  <section>
    <h2>{{ t("resume_edu_title") }}</h2>
    <ul>
      <li>{{ t("edu1") }}</li>
      <li>{{ t("edu2") }}</li>
      <li>{{ t("edu3") }}</li>
    </ul>
  </section>

  <section>
    <p><strong>{{ t("resume_refs_title") }}</strong> {{ t("resume_refs_text") }}</p>
  </section>
</div>
{% endblock %}
